* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
body.dark {
  background: #111111;
}

/* Header */
/* Logo */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 190px;
  margin: 10px;
  padding: 0px;
  border: 2px solid #111111;
}

.logo h3 {
  font-weight: 300;
  font-size: 1.1em;
}

.container a {
  text-decoration: none;
  color: #111111;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #111111;
  border-radius: 5px;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #7aade7;
  padding-top: 140px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 20px 35px;
  background-color: #4e95e7;
  border-radius: 10px;
  font-size: 1.2em;
  color: #111111;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #056cb6;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
header {
  color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #7aade7;
}
header .container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, auto);
}
@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}
header .container nav a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

/* Switch Modo Claro y Oscuro */
.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: orange;
  color: #111111;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #ffffff;
}

/* Main */
main {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body.dark main h1, body.dark main h2, body.dark main h3, body.dark main p {
  color: #C8C8C8;
}
body.dark main h1:hover, body.dark main h2:hover, body.dark main h3:hover, body.dark main p:hover {
  color: #ACABAB;
}

.title-container h1 {
  font-size: 4em;
  font-weight: 400;
}

.work-container h2,
.skills-container h2 {
  font-size: 3.2em;
  font-weight: 400;
  padding-bottom: 20px;
}

.work-info-container h3,
.hard-skills-container h3,
.soft-skills-container h3 {
  font-size: 1.7em;
  font-weight: 300;
  padding-bottom: 20px;
}

.link-more-info,
.download-section {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #4e95e7;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: 0px 10px 14px -7px #111111;
          box-shadow: 0px 10px 14px -7px #111111;
  cursor: pointer;
}

.work-container a,
.link-more-info a,
.download-section a {
  text-decoration: none;
  color: #111111;
  text-align: center;
  margin: 10px auto;
  padding: 11px 15px;
  font-size: 1.1em;
  font-weight: 400;
}

.link-more-info i {
  padding-right: 5px;
  font-size: 1.1em;
}

.link-more-info:hover,
.download-section:hover {
  background-color: #056cb6;
}
body.dark .link-more-info:hover,
body.dark .download-section:hover {
  background-color: #7aade7;
}

.link-more-info:active,
.download-section:active {
  position: relative;
  top: 1px;
}

/* About me */
.about-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container img {
  margin: 20px 20px 0;
  border-radius: 10px;
}

.img-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.about-info-container {
  margin: 10px;
}

.subtitle-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.subtitle1 {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle1 p {
  padding: 20px 0;
  font-size: 1.6em;
}

.paragraph {
  width: 40vw;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: justify;
}

/* Projects */
.work-container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  scroll-margin-top: 130px;
}

.project-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.project-content-1,
.project-content-2,
.project-content-3 {
  width: 600px;
  padding: 10px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-content-1:hover,
.project-content-2:hover,
.project-content-3:hover {
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
body.dark .project-content-1:hover,
body.dark .project-content-2:hover,
body.dark .project-content-3:hover {
  background-color: #222222;
}

.project-content-1 img,
.project-content-2 img,
.project-content-3 img {
  width: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-1 p {
  width: 500px;
  text-align: justify;
  padding-top: 20px;
}

.langs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.langs ul {
  padding-left: 35px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #111111;
}

.langs ul li {
  margin: 5px;
  padding: 5px;
  width: 50px;
  border-radius: 20px;
  font-size: 0.6em;
  font-weight: 400;
  text-transform: uppercase;
}

.langs ul li:nth-child(1) {
  background-color: #E65100;
  color: #ffffff;
}

.langs ul li:nth-child(2) {
  background-color: #1177BD;
  color: #ffffff;
}

.langs ul li:nth-child(3) {
  background-color: #FFD600;
}

.langs ul li:nth-child(4) {
  background-color: #7757F4;
  color: #ffffff;
}

/* Skills Section */
.skills-container {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  scroll-margin-top: 130px;
}

.skills-container ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.hard-skills-container,
.soft-skills-container {
  position: relative;
  width: 350px;
  margin: 30px auto;
}

.hard-skills-container ul,
.soft-skills-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* Footer */
footer {
  position: sticky;
  top: 100%;
  background-color: #7aade7;
}
body.dark footer {
  background-color: #056cb6;
}
body.dark footer a {
  color: #111111;
}
body.dark footer a:hover {
  color: #C8C8C8;
}

.contact-container {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

.social-container li {
  padding: 10px;
}

.social-container li i {
  color: #111111;
}

.contact-container ul {
  list-style: none;
  margin: 50px auto;
}

.footer-links-container {
  text-align: right;
}

.footer-links-container ul {
  padding: 10px 0;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
  border: 1px solid #111111;
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 501px) {
  body {
    padding-top: 70px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  /* Header */
  /* Logo */
  .logo {
    font-size: 20px;
    padding: 0px;
    line-height: 20px;
  }
  /* Main */
  /* About me Section*/
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding-top: 80px;
    scroll-margin: 50px;
  }
  .about-info-container {
    margin-top: 0px;
    text-align: center;
  }
  .title-container h1 {
    margin: 20px;
  }
  .img {
    margin-bottom: 30px;
  }
  .img-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subtitle1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subtitle1 p {
    padding: 20px 0;
    margin: 20px;
  }
  .paragraph {
    width: 70vw;
    margin: 20px;
    text-align: justify;
  }
  /* Projects Section*/
  .work-container {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    scroll-margin-top: 100px;
  }
  .project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-content-1,
.project-content-2,
.project-content-3 {
    margin: 20px 0;
    width: 100%;
  }
  .project-content-1 img,
.project-content-2 img,
.project-content-3 img {
    width: 80%;
  }
  .link-more-info {
    padding: 13px;
  }
  /* Skills Section */
  /* Footer*/
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
  }
  .contact-container ul {
    margin: 0px auto;
  }
  .social-container {
    margin: 0;
    padding: 0;
  }
  .download-section {
    margin: 20px;
    padding: 10px;
  }
  .download-section a {
    font-size: 1.1em;
  }
  .logo-container {
    padding: 10px;
  }
}
/* Para 320px */
@media only screen and (max-width: 500px) and (min-width: 5px) {
  body {
    padding-top: 70px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  /* Header */
  /* Logo */
  .logo {
    font-size: 20px;
    padding: 0px;
    line-height: 20px;
  }
  /* Main */
  /* About me Section*/
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding-top: 80px;
    scroll-margin: 50px;
  }
  .about-info-container {
    margin-top: 0px;
    text-align: center;
  }
  .title-container h1,
.work-container h1,
.skills-container h1 {
    text-align: center;
    font-size: 2.6em;
  }
  .img {
    margin-bottom: 30px;
  }
  .img-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subtitle1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subtitle1 p {
    padding: 20px 0;
    margin: 20px;
    font-size: 1.3em;
  }
  .paragraph {
    width: 70vw;
    margin: 20px;
    text-align: justify;
    font-size: 1.1em;
  }
  /* Projects Section*/
  .work-container {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    scroll-margin-top: 130px;
  }
  .project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .project-content-1,
.project-content-2,
.project-content-3 {
    margin: 20px 0;
    border: 1px solid transparent;
    width: 100%;
    background-color: none;
  }
  .project-content-1:hover,
.project-content-2:hover,
.project-content-3:hover {
    padding: 0px;
  }
  .project-content-1 img,
.project-content-2 img,
.project-content-3 img {
    width: 100%;
  }
  .project-1 p {
    width: 100%;
  }
  .langs ul {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
  }
  .work-info-container h3 {
    font-size: 1.5em;
    font-weight: 400;
  }
  .link-more-info {
    padding: 13px;
  }
  /* Skills Section */
  .skills-container {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    scroll-margin-top: 130px;
  }
  .skills-container ul li {
    margin: 10px;
  }
  .hard-skills-container h2,
.soft-skills-container h2 {
    font-size: 1.2em;
  }
  .hard-skills-container ul,
.soft-skills-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* Footer*/
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
  }
  .contact-container ul {
    margin: 0px auto;
  }
  .social-container {
    margin: 0;
    padding: 0;
  }
  .download-section {
    margin: 20px;
    padding: 10px;
  }
  .download-section a {
    font-size: 1.1em;
  }
  .logo-container {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */